body {
    margin: 0;
    padding: 0;
    border: 0;
}

first-container{
    display: flex;
    flex-direction: column;
}
                        /* we work on the header here */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1F2937;
}

a {
    text-decoration: none;
    color: gray;
}
.header-right{
    display: flex;
    gap: 30px;
    color: #E5E7EB;
    font-size: 18px;
}

.header-left{
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
}

                            /* now we begin with the first hero */
button{
    background-color: #3882f6;
    font-size: 18px;
    width: 110px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-weight: 900;
    border: 0;
}

.button {
    padding-top: 10px;
}

.hero1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:#1F2937 ;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 80px;
    padding-bottom: 80px;
}

hero1-left {
    display: flex;
}

hero1-right {
    display: flex;
}

.hero1-MainText {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero1-SecondaryText {
    width: 400px;
    font-size: 18px;
    color: #8c919b;
    padding-bottom: 10px;
}

img {
    width: 500px;
    height: 210px;
}

                                /* now way work on the second container */
                                /* here we have started the section for the second container */
.second-container {
    display: flex;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 90px ;
}

.info-header{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.second-container-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.rcorners2 {
    border-radius: 25px;
    border: 4px solid #2142ad;
    padding: 20px;
    width: 120px;
    height: 120px;
}

.text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}


